.App {
  text-align: center;
  background-color: #147F0E;
  width:100vw;
  height:100vh;
}

.hand-cards {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.hand-row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.hand0{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.hand1 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-height: 30vw;
}

.hand2 {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.hand3 {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-height: 30vw;
}

.hand-row {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.padding {
  max-height: 10px;
  display: flex;
  flex-grow: 3;
}

.padding-half {
  max-height: 10px;
  display: flex;
  flex-grow: 1;
}

.table-cards {
  border: 1px solid olive;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 5vw;
  height: 7.5vw;
  margin-left: -2.5vw;
  margin-top: -3.75vw;
}

.table0{
  position: absolute;
  top: -2vw;
  left: 1vw;
  transform: rotate(180deg);
}

.table1 {
  position: absolute;
  top: 1vw;
  left: 3.75vw;
  transform: rotate(-90deg);
}

.table2 {
  position: absolute;
  top: 2vw;
  left: -1vw;
}

.table3 {
  position: absolute;
  top: -1vw;
  left: -3.75vw;
  transform: rotate(90deg);
}

.table0:hover{
  transform: translateY(-20px);
}

.table1:hover{
  transform: translateX(10px);
}

.table2:hover{
  transform: translateY(20px);
}

.table3:hover{
  transform: translateX(-10px);
}

.card {
  width: 7vw;
  font-size: 16pt;
}

.card:hover{
  transform: scale(1.5,1.5);
}

.card-red {
  color: red
}

.card-black {
  color: black
}

.hand1 > .card {
  height: 5vw;
}

.hand1 > .card > svg{
  transform: rotate(90deg);
}

.hand3 > .card {
  height: 5vw;
}

.hand3 > .card > svg{
  transform: rotate(90deg);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
