.App {
  text-align: center;
  background-color: #147F0E;
}

.hand-cards {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.hand-card-wrapper {
  display: flex;
  flex-direction: column;
}

.hand-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hand-vertical {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hand0{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hand1 {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  transform: translateX(50%) rotate(90deg);
}

.hand2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hand3 {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  transform: translateX(-50%) rotate(90deg);
  min-width: 50vh
}

.table-cards {
  border: 1px solid olive;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 10vw;
  height: 10vw;
  margin-left: -5vw;
  margin-top: -5vw;
}

.table0{
  position: absolute;
  top: -2vw;
  left: 1vw;
  transform: rotate(180deg);
}

.table1 {
  position: absolute;
  top: 1vw;
  left: 3.75vw;
  transform: rotate(-90deg);
}

.table2 {
  position: absolute;
  top: 2vw;
  left: -1vw;
}

.table3 {
  position: absolute;
  top: -1vw;
  left: -3.75vw;
  transform: rotate(90deg);
}

.table0:hover{
  transform: translateY(-20px);
}

.table1:hover{
  transform: translateX(10px);
}

.table2:hover{
  transform: translateY(20px);
}

.table3:hover{
  transform: translateX(-10px);
}

.card {
  width: 7vw;
  font-size: 16pt;
}

.card:hover{
  transform: scale(1.5,1.5);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
